# Global Python ignores
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments for all microservices
user_service/venv/
notice_service/venv/
communication_service/venv/
reporting_service/venv/

# Local environment variable files for all services
user_service/.env
notice_service/.env
communication_service/.env
reporting_service/.env

# Django-related ignores
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# Media and static files
user_service/media/
user_service/staticfiles/
user_service/static/
notice_service/media/
notice_service/staticfiles/
notice_service/static/
communication_service/media/
communication_service/staticfiles/
communication_service/static/
reporting_service/media/
reporting_service/staticfiles/
reporting_service/static/

# Node.js (if frontend dependencies are in the same repository)
node_modules/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Test-related files
.tox/
.pytest_cache/
*.test

# Editor and IDE-specific files
.vscode/
.idea/
*.swp
*~
.project
.pydevproject
.DS_Store

# Docker-specific ignores
*.log
docker-compose.override.yml

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre cache
.pyre/

# Build and dist folders (for any compiled files or distributions)
build/
dist/
*.egg-info/
